body{
    margin: 0;
    background-color: rgba(128, 128, 128, 0.364);
}
:root{
    --bg: #5F4B8BFF;
    --second: black;
}



.navbar{
    height: 70px;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_logo{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav_container_logo{
    height: 100%;   
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
}
.nav_img{
    height: 80%;
    width: auto;
}
.nav_img_title{
    font-family: "Roboto";
    color: var(--second);
}

.res_container{
    height: 100%;
    display: none;
    align-items: center;
    margin-right: 20px;
}
.h_menu{
    height: auto;
    width: 28px;
}
.x_menu{
    height: auto;
    width: 28px;
    display: none;
}

.nav_titles{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_tul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
}
.nav_tbg{
    padding: 10px 20px;
    border-radius: 5px;
}
.nav_tlabel{
    text-decoration: none;
    color: var(--second);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 500;
}
.nav_tbg:hover{
    background-color: black;
}
.nav_tbg:hover .nav_tlabel{
    color: white;
}


@media screen and (min-width: 0px) and (max-width: 743px) {
    .res_container{
        display: flex;
    }
    .navbar{
        flex-direction: column;
    }
    .nav_titles{
        width: 100%;
        align-items: start;
        display: none;
    }
    .nav_tul{
        width: 100%;
        flex-direction: column;
        padding: 10px 0px;
        align-items: center;
        background-color: var(--bg);
        margin: 0;
    }
    .nav_tbg{
        width: 80%;
        text-align: center;
    }
    .nav_logo{
        width: 100%;
    }
}